.about p.bg-dark {
    display: inline-block;
}
.navbar h1 i {
    margin-right: 0.5rem;
}

.stickyNav {
    position: sticky;
    top: 0;
}

/* CSS Transition group */
.item-enter {
    opacity: 0;
    transform: translateY(0);
}
.item-enter-active {
    opacity: 1;
    transform: translateY(-10px);
    transition: opacity 500ms ease-in, transform 500ms ease-out;
}
.item-exit {
    transform: translateY(0);
    opacity: 1;
}
.item-exit-active {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 500ms ease-in, transform 500ms ease-out;
}
/* CSS Transition group */
